@use "@/style/helpers" as *;

.entity-card {
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    padding: rem(16) rem(46);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;

    &--team {
        padding-bottom: rem(31);
    }

    @include tablet {
        padding: rem(8) rem(16);
    }

    &__img {
        width: 100%;
        max-width: rem(220);
        height: rem(220);
        margin-bottom: rem(24);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            @include tablet {
                width: rem(180);
            }

        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(8);
    }

    &__title {
        font-size: rem(24);
        color: var(--color-black);
        margin: 0;

        &--league {
            font-size: rem(18);
            font-family: var(--font-family-base);
        }

        &--team {
            font-size: rem(16);
        }
    }

    &__country {
        font-size: rem(14);
        color: var(--color-gray);
        margin: 0;
    }
}