@use "@/style/helpers" as *;

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding-block: fluid(21, 12) fluid(5, 2);
    background-color: var(--color-white);

    &__inner {
        display: flex;
        align-items: flex-end;
    }

    &__logo {
        img {
            display: block;
            width: fluid(130, 56);
            height: auto;
        }
    }

    &__navbar {
        position: relative;
    }

    &__menu {
        display: flex;
        gap: fluid(40, 10);
        list-style: none;
        margin-left: fluid(24, 8);
        position: relative;
    }

    &__link {
        position: relative;
        font-family: var(--font-family-base);
        font-size: fluid(25, 10);
        font-weight: 300;

        &:hover {
            color: var(--color-accent);
        }

        &--active {
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 110%;
                height: fluid(5, 2);
                background-color: var(--color-accent);
            }
        }
    }

    &__indicator {
        position: absolute;
        bottom: 0;
        height: fluid(3, 2);
        background-color: var(--color-accent);
        border-radius: rem(10);
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        pointer-events: none;
        opacity: 0;
    }
}