@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
  }
}


$container-desktop-width: 1920;
$container-laptop-width: 1440;
/* принимает максимальное и минимальное значение свойства (в пикселях) и возвращает CSS-значение, 
которое плавно изменяется в зависимости от ширины экрана, оставаясь в заданных пределах */

@function fluid($max, $min, $isEndOfLaptop: false) { 
  $maxViewportWidth: $container-desktop-width;                       // Определяются максимальная и минимальная ширина экрана, при которых будет происходить плавный переход
  $minViewportWidth: 390;

  @if ($isEndOfLaptop) {
    $minViewportWidth: $container-laptop-width;                      // Если флаг $isEndOfLaptop = true, то минимальная ширина берётся не 390px, а ширина макета для ноутбука ($container-laptop-width).
  }

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  // показывает, как быстро будет изменяться размер в зависимости от ширины экрана
  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));  // (разница размеров) / (разница ширин)
  $yAxisIntersections: -$minWidth * $slope + $minSize;             

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersections * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}