body {
    font-family: Montserrat, sans-serif;
    background-color: var(--color-body-background);
}

button {
    border: 0;
    background-color: transparent;
}

input {
    border: none;
}

a {
    text-decoration: none;
    color: var(--color-gray);
}